<div id='header'>
  <h1>Add a New Artist</h1>
</div>

<div id='form'>
  <%= form_with url: user_artists_path(current_user.id), method: :post, local: true do |form| %>
  <%= form.label :username, 'Username:' %>
  <%= form.text_field :username, id: 'username' %>
  <%= form.label :password, 'Password:' %>
  <%= form.password_field :password, id: 'password' %>
  <%= form.password_field :password_confirmation, id: 'password_confirmation' %>
  <%= form.submit 'Add Artist' %>
<% end %>
</div>
