<!DOCTYPE html>
<html>
  <head>
    <title>TikiarteFe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </head>

  <body>
    <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
    <% end %>
    <% unless current_user.nil? %>
      <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand" href="<%= user_artists_path(current_user.id) %>">Director Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="<%= public_gallery_index_path %>">Public Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= inspiration_index_path %>">Find Inspiration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= new_user_artist_art_piece_path(current_user.id, @artist.id) %>">Upload an Art Piece</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Account Management</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= logout_path %>">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    <% end %>
    <%= yield %>
  </body>
</html>
